ul {
  padding: 0;
  list-style-type: none;
  border: 1px solid #000;
  border-radius: 6px;
  li {
    padding: 5px 15px;
    border-bottom: 1px solid #000;
    text-align: left;

    &:last-child {
      border-bottom: none;
    }
  }
}

table {
  border-collapse: collapse;

  thead {
    td {
      background-color: lightblue;
      font-weight: bold;
    }
  }

  tr {
    &.inProgress {
      background-color: lightgreen;
    }

    td {
      padding: 5px;
      border: 1px solid #000;
    }
  }
}
